<form method="POST" action="/reservation/save">
    {% if reservation %}
        <input type="hidden" name="id" value="{{ reservation.id }}">
        <input type="hidden" name="created-at" value="{{ reservation.createdAt }}">
    {% endif %}
    <div>
        <div class="field">
            <label class="label">Fecha de inicio</label>
            <div class="control">
                <input required class="input" name="start-date" type="datetime-local"
                       value="{{ reservation.startDate if reservation }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Fecha de fin</label>
            <div class="control">
                <input required class="input" name="finish-date" type="datetime-local"
                       value="{{ reservation.finishDate if reservation }}">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label">Método de pago</label>
                <label class="radio"><input required type="radio" name="payment-method"
                            {{ 'checked' if reservation.paymentMethod === 'Cash' }} value="Cash">
                    Efectivo
                </label>
                <label class="radio"><input required type="radio" name="payment-method"
                            {{ 'checked' if reservation.paymentMethod === 'Credit Card' }} value="Credit Card">
                    Tarjeta
                </label>
                <label class="radio"><input required type="radio" name="payment-method"
                            {{ 'checked' if reservation.paymentMethod === 'Bank Transfer' }} value="Bank Transfer">
                    Transferencia bancaria
                </label>
            </div>
        </div>
        <div class="field">
            <label class="label">Auto</label>
            <div class="control">
                <div class="select">
                    <select name="car-id">
                        <option disabled>Seleccione...</option>
                        {% for car in cars %}
                            <option value="{{ car.id }}" {{ 'selected' if reservation.carId === car.id }}>
                                {{ "#" + car.id + " - " + car.brand + " " + car.model + " " + car.year + " - " + "Precio/día $ " + car.price + " - "
                                + car.kms + " kms - " + car.passengers + " pax - " + car.transmission + " - AC: " + car.ac + " - Color: " + car.color }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Usuario</label>
            <div class="control">
                <div class="select">
                    <select name="user-id">
                        <option disabled>Seleccione...</option>
                        {% for user in users %}
                            <option value="{{ user.id }}" {{ 'selected' if reservation.userId === user.id }}>
                                #{{ user.id }} - {{ user.firstName + " " + user.lastName }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        {% if reservation %}
            <div class="field">
                <label class="label">Precio por día</label>
                <div class="control">
                    <input class="input" name="price-per-day" autocomplete="off" type="number"
                           placeholder="Opcional. Si se ingresa un valor, toma precedencia por sobre el precio por día definido en el auto para esta reserva."
                           value="{{ reservation.pricePerDay }}">
                </div>
            </div>
        {% endif %}

        <div class="field">
            <div class="control">
                <label class="label">{{ "Paid" if reservation else "Pay On Reservation" }}</label>
                <label class="radio"><input required type="radio" name="paid" value="true"
                            {{ 'checked' if reservation.paid === true }}>
                    Si
                </label>
                <label class="radio"><input required type="radio" name="paid" value=""
                            {{ 'checked' if reservation.paid === false }}>
                    No
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Guardar</button>
            </div>
            <div class="control">
                <button class="button is-link is-light cancel-button" type="button">Cancelar</button>
            </div>
        </div>
    </div>
</form>
