<button class="button unblock-button" title="Marcar esta reserva como CONFIRMADA">
  <span class="icon">
    <i class="fas fa-unlock"></i>
  </span>
</button>
<a class="button" href="{{"/reservation/view/" + reservation.id}}"  title="Ver detalles de la reserva">
  <span class="icon">
    <i class="fas fa-search has-text-black"></i>
  </span>
</a>
<button class="button" disabled title="Una reserva terminada no puede ser modificada">
  <span class="icon">
    <i class="fas fa-edit has-text-black"></i>
  </span>
</button>
