<button class="button pay-button" title="Marcar esta reserva como paga">
  <span class="icon">
    <i class="fas fa-dollar-sign"></i>
  </span>
</button>
<a class="button" href="{{"/reservation/view/" + reservation.id}}" title="Ver detalles de la reserva">
  <span class="icon">
    <i class="fas fa-search has-text-black"></i>
  </span>
</a>
<a class="button" href="{{"/reservation/edit/" + reservation.id}}" title="Editar reserva">
  <span class="icon">
    <i class="fas fa-edit has-text-black"></i>
  </span>
</a>
