<button class="button finish-button" title="Marcar la reserva como FINALIZADA">
  <span class="icon">
    <i class="fas fa-check"></i>
  </span>
</button>
<a class="button" href="{{"/reservation/view/" + reservation.id}}"  title="Ver detalles de la reserva">
  <span class="icon">
    <i class="fas fa-search has-text-black"></i>
  </span>
</a>
<a class="button" href="{{"/reservation/edit/" + reservation.id}}" title="Editar reserva">
  <span class="icon">
    <i class="fas fa-edit has-text-black"></i>
  </span>
</a>
