<tr class="reservation-data" data-id="{{ reservation.id }}" data-status="{{ reservation.status.value }}">
  <th>{{ reservation.id }}</th>
  <td>{{ reservation.formattedDates.startDate }}</td>
  <td>{{ reservation.formattedDates.finishDate }}</td>
  <td>$ {{ reservation.pricePerDay }}</td>
  <td>$ {{ reservation.totalPrice }}</td>
  <td>{{ reservation.paymentMethod }}</td>
  <td>{{ "Si" if reservation.paid else "No" }}</td>
  <td>{{ reservation.status.name }}</td>
  <td>{{ reservation.car.name }} ID: {{reservation.car.id}}</td>
  <td>{{ reservation.user.fullName }} ({{reservation.user.email}})</td>
  <td>
    {% if reservation.status.value == reservationStatuses.PENDING.value %}
      {% include "reservation/views/layouts/status-pending-buttons.njk" %}
    {% endif %}

    {% if reservation.status.value == reservationStatuses.PAID.value %}
      {% include "reservation/views/layouts/status-confirmed-buttons.njk" %}
    {% endif %}

    {% if reservation.status.value == reservationStatuses.FINISHED.value %}
      {% include "reservation/views/layouts/status-finished-buttons.njk" %}
    {% endif %}

  </td>
</tr>
