<form method="POST" action="/user/save">
    {% if user %}
        <input type="hidden" name="id" value="{{ user.id }}">
    {% endif %}
    <div>
        <div class="field">
            <label class="label">Nombre(s)</label>
            <div class="control">
                <input required class="input" name="first-name" autocomplete="off" value="{{ user.firstName if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Apellido(s)</label>
            <div class="control">
                <input required class="input" name="last-name" autocomplete="off" value="{{ user.lastName if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Tipo documento</label>
            <div class="control">
                <div class="select">
                    <select name="id-type">
                        <option disabled>Seleccione...</option>
                        <option value="DNI" {{ 'selected' if user.idType === 'DNI' }}>DNI</option>
                        <option value="CI" {{ 'selected' if user.idType === 'CI' }}>CI</option>
                        <option value="Passport" {{ 'selected' if user.idType === 'Passport' }}>Passport</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Número documento</label>
            <div class="control">
                <input required class="input" type="number" name="id-number" value="{{ user.idNumber if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Nacionalidad</label>
            <div class="control">
                <input required class="input" name="nationality" autocomplete="off"
                       value="{{ user.nationality  if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Dirección</label>
            <div class="control">
                <input required class="input" name="address" autocomplete="off" value="{{ user.address if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Número de teléfono</label>
            <div class="control">
                <input required class="input" name="phone-number" value="{{ user.phoneNumber if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input required class="input" name="email" value="{{ user.email if user }}">
            </div>
        </div>
        <div class="field">
            <label class="label">Año de nacimiento</label>
            <div class="control">
                <input required class="input" name="birthdate" type="date" value="{{ user.birthdate }}">
            </div>
        </div>
        {% if user %}
            <input type="hidden" name="created-at" value="{{ user.createdAt }}">
        {% endif %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Guardar</button>
            </div>
            <div class="control">
                <button class="button is-link is-light cancel-button" type="button">Cancelar</button>
            </div>
        </div>
    </div>
</form>
