<div class="tile is-parent">
  <article class="tile is-child notification is-info is-light">
    <div class="content">
      <p class="title">Últimas reservas</p>
      <div class="content">
        {% if reservations.length > 0 %}
          <table class="table align-middle">
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Precio por día</th>
                <th>Total</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for reservation in reservations | reverse %}
                <tr>
                  <th>
                    <a href="{{ "/reservation/view/" + reservation.id }}">{{ reservation.id }}</a>
                  </th>
                  <td>{{ reservation.formattedDates.startDate }}</td>
                  <td>{{ reservation.formattedDates.finishDate }}</td>
                  <td>{{ reservation.pricePerDay }}</td>
                  <td>{{ reservation.totalPrice }}</td>
                  <td>{{ reservation.status.name }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <p class="subtitle">No hay reservas para este auto</p>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>
