{% extends "views/layouts/base.njk" %}

{% block body %}
  <section class="section">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Cantidad de autos</p>
            <p class="title">{{ carsLength }}</p>
          </div>
        </div>
      </nav>
    </div>
  </section>
  {% if lastAddedCar %}
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Último auto agregado</h1>
          <table class="table">
            <tbody>
              <tr>
                <th>ID</th>
                <td>{{ lastAddedCar.id }}</td>
              </tr>
              <tr>
                <th>Marca</th>
                <td>{{ lastAddedCar.brand }}</td>
              </tr>
              <tr>
                <th>Modelo</th>
                <td>{{ lastAddedCar.model }}</td>
              </tr>
              <tr>
                <th>Año</th>
                <td>{{ lastAddedCar.year }}</td>
              </tr>
              <tr>
                <th>Kilómetros</th>
                <td>{{ lastAddedCar.kms }} kms</td>
              </tr>
              <tr>
                <th>Color</th>
                <td>{{ lastAddedCar.color }}</td>
              </tr>
              <tr>
                <th>Aire acondicionado</th>
                <td>{{ lastAddedCar.ac }}</td>
              </tr>
              <tr>
                <th>Máx. Pasajeros</th>
                <td>{{ lastAddedCar.passengers }}</td>
              </tr>
              <tr>
                <th>Transmisión</th>
                <td>{{ lastAddedCar.transmission }}</td>
              </tr>
              <tr>
                <th>Precio/día</th>
                <td>$ {{ lastAddedCar.price }}</td>
              </tr>
              <tr>
                <th>Creado</th>
                <td>{{ lastAddedCar.createdAt }}</td>
              </tr>
              <tr>
                <th>Actualizado</th>
                <td>{{ lastAddedCar.updatedAt }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
