{% extends "views/layouts/base.njk" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/manage.css">
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title">Hay {{ users.length }} usuarios.</h1>
      <table class="table align-middle">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre(s)</th>
            <th>Apellido(s)</th>
            <th>Tipo documento</th>
            <th>Número documento</th>
            <th>Nacionalidad</th>
            <th>Dirección</th>
            <th>Número de teléfono</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th><!-- --></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            {% include "user/views/layouts/table-row.njk" %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
