{% extends "views/layouts/base.njk" %}

{% block body %}
  <section class="section is-light">
    <div>
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              {{ user.firstName}}
              {{ user.lastName }}
            </h1>
            <table class="table">
              <tbody>
                <tr>
                  <th>ID</th>
                  <td>{{ user.id }}</td>
                </tr>
                <tr>
                  <th>Tipo de documento</th>
                  <td>{{ user.idType }}</td>
                </tr>
                <tr>
                  <th>Número de documento</th>
                  <td>{{ user.idNumber }}</td>
                </tr>
                <tr>
                  <th>Nacionalidad</th>
                  <td>{{ user.nationality }}</td>
                </tr>
                <tr>
                  <th>Dirección</th>
                  <td>{{ user.address }}</td>
                </tr>
                <tr>
                  <th>Número de teléfono</th>
                  <td>{{ user.phoneNumber }}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <th>Fecha de nacimiento</th>
                  <td>{{ user.formattedBirthdate }}</td>
                </tr>
                <tr>
                  <th>Creado</th>
                  <td>{{ user.createdAt }}</td>
                </tr>
                <tr>
                  <th>Modificado</th>
                  <td>{{ user.updatedAt }}</td>
                </tr>
                <tr></tbody>
              </table>
              <a class="button is-link is-outlined" href="{{ '/user/edit/' + user.id }}">
                <span>Editar</span>
                <span class="icon is-small">
                  <i class="fas fa-edit"></i>
                </span>
              </a>
            </div>
            <div class="column">
              {% include "user/views/layouts/reservations-table.njk" %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "car/views/layouts/delete-modal.njk" %}
  </section>
{% endblock %}
